@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-lg btn-danger">Send info to Russian Hackers</button>    
</div>
